@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: San Francisco, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container-snap::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-snap {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: San Francisco;
  font-weight: 300;
  src: url("/public/sfns-ttf/SFNSDisplay-Light.ttf") format("truetype");
}
@font-face {
  font-family: San Francisco;
  font-weight: 400;
  src: url("/public/sfns-ttf/SFNSDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: San Francisco;
  font-weight: 500;
  src: url("/public/sfns-ttf/SFNSDisplay-Medium.ttf") format("truetype");
}
@font-face {
  font-family: San Francisco;
  font-weight: 600;
  src: url("/public/sfns-ttf/SFNSDisplay-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: San Francisco;
  font-weight: 700;
  src: url("/public/sfns-ttf/SFNSDisplay-Bold.ttf") format("truetype");
}
@font-face {
  font-family: San Francisco;
  font-weight: 800;
  src: url("/public/sfns-ttf/SFNSDisplay-Heavy.ttf") format("truetype");
}
